{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
     <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script type="text/javascript" src={% static "js/main.js" %}></script>
</head>
<body>
    <p id="errorP"></p>
    <form class='productForm' id = 'productForm'>
        <input
        type="text"
        placeholder="Название продукта" 
        name="name"/>
        <textarea
        type="text"
        placeholder="Описание"
        name="description"></textarea>
        <input
        type="number"
        placeholder="цена"
        name="price" />
        <input type="submit">
    </form>

    <table class="productTable">
        <thead>
        <tr>
            <td>id</td>
            <td>Название</td>
            <td>Описание</td>
            <td>Цена</td>
        </tr>
    </thead>
    <tbody class="productTableBody">

    </tbody>
    </table>

</body>
</html>